<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ZamowieniaDB"
			 connectionString="Data Source=LAPTOP-VL1QHSGJ\MSSQLSERVER01;Initial Catalog=ZamowieniaDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
